.header{
    height: 80px;
    /*background-color: #8bb7fc;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.logo{
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 1.5px;
}
.logo a{
    color: rgb(33, 37, 41);
    font-family: 'Montserrat Alternates', sans-serif;
}
.logo a:hover{
    color: rgb(33, 37, 41);
}
.logo span{
    color: #47bb8e;
}
.burgerMenu{
    align-self: center;
    color: #212529;
    font-size: 30px;
    height: 30px;
}
.burgerMenu:hover{
    color: #47bb8e;
}

@media (min-width: 992px){
    .burgerMenu{
        display: none;
    }
}
