.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 90px
}
@media (min-width: 575.98px){
    .container{
        justify-content: center;
    }
}
