.skillsBlock {
    /*min-height: 100vh;*/
    /*background-color: #d7f7d7;*/
    display: flex;
    align-items: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border:none;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

/*Single skill styles*/

.skill{
    width: 30%;
    border: 1px solid #ebeff5;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 70px 35px;
    text-align: center;
    transition-duration: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 50px;
    margin: 0 auto;
    color: var(--accent-text-color);
}
.skill h6{
    color: var(--heading-text-color);
    font-size: 18px;
    margin: 20px 0;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 2px;
}
.skill p{
    color: var(--secondary-text-color);
    font-size: 11px;
    font-weight: 500;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}
.skill:hover{
    border-color: #ffffff;
    box-shadow: 0 20px 40px rgb(35 38 125 /10%);
}
@media screen and (max-width: 1270px) {
    .skill{
        width: 320px;
        padding: 35px 0;
    }
}
@media screen and (max-width: 575.98px) {
    .skills{
        justify-content: center;
    }
}