.skillsBlock {
    /*min-height: 100vh;*/
    /*background-color: #d7f7d7;*/
    display: flex;
    align-items: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border:none;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}
@media screen and (max-width: 575.98px) {
    .skills{
        justify-content: center;
    }
}