.mainBlock {
    min-height: 100vh;
    background-color: var(--main-bg-color);
}
.mainContainer{
    gap: 50px;
}
.intro{
    width: 60%;
}
.photo {
    position: relative;
    z-index: 1;
}
.particles{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}
.imgContainer {
    width: 300px;
    height: 478px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer::before{
        content: '';
        background-image: linear-gradient(to top, rgba(239, 239, 239, 255), rgba(239, 239, 239, 0));
        position: absolute;
        height: 100px;
        right: 0;
        bottom: 0;
        left: 21px;
        width: 93%;
}
.imgContainer::after {
    content: '';
    position: absolute;
    width: 93%;
    height: 77%;
    border: 20px solid var(--accent-text-color);
    left: 0px;
    top: 70px;
    z-index: -2;
    box-shadow: 0 20px 40px rgb(35 38 125 / 36%);
}
.frameBottom{
    content: '';
    position: absolute;
    width: 102%;
    height: 20px;
    background-color: var(--accent-text-color);
    left: 0px;
    z-index: 1;
    bottom: 0px;
}
.intro h6{
    color: var(--accent-text-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.intro h1{
    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 5px;
    color: var(--heading-text-color);
}
.intro h2{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--heading-text-color);
}
.intro p{
    color: var(--main-text-color);
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    margin-top: 30px;
}
.simpleBtn{
    color: var(--heading-text-color);
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 7px;
    position: relative;
    z-index: 1;
    margin-top: 40px;
}
.simpleBtn::before {
    background-color: rgba(0, 0, 0, 0.07);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 45%;
    z-index: -1;
    transition: all 0.3s ease-in-out 0s;
}
.simpleBtn:hover::before {
    width: 100%;
}

@media (max-width: 575.98px){
    .intro{
        width: 100%;
    }
    .intro h1 {
        font-size: 45px;
    }
    .intro h2{
        font-size: 20px;
    }
}
