.formBlock {
    /*min-height: 100vh;*/
    /*background-color: peachpuff;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.formContainer{
    flex-direction: column;
    justify-content: flex-start;
    /*flex-wrap: nowrap;*/
    /*gap: 10px;*/
}
.contactsContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contactAddress{
    width: 40%;
    min-width: 300px;
    box-shadow: 0 20px 40px rgb(35 38 125 /10%);
    margin-bottom: 30px;
    padding: 60px 30px;
}
.singleAddress:not(:last-child) {
    margin-bottom: 40px;
}
.singleAddress h6{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--heading-text-color);
}
.singleAddress h6 i{
    color: var(--main-text-color);
    font-size: 25px;
    line-height: 1;
    margin-right: 10px;
}
.singleAddress a{
    color: var(--main-text-color);
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
}
.singleAddress a:hover{
    color: var(--accent-text-color);
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    min-width: 320px;
    gap: 5px;
    align-items: flex-start;
}
.formRow{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.formGroup{
    position: relative;
    width: 100%;
}
.formGroup i{
    position: absolute;
    top: 17px;
    left: 15px;
}
.formGroup input, .formGroup textarea {
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
    padding: 15px 15px 15px 45px;
    width: 100%;
    transition-duration: 0.3s;
    outline: none;
}
.formGroup textarea {
    resize: none;
    height: 180px;
}
.formGroup input:focus,
.formGroup textarea:focus {
    border-color: var(--accent-text-color);
}
.formGroup input::placeholder,
.formGroup textarea::placeholder {
    transition-duration: 0.3s;
}
.formGroup input:focus::placeholder,
.formGroup textarea:focus::placeholder {
    color: var(--accent-text-color);
}

.errorMessage {
    color: #bf1650;
    font-size: 14px;
}

.errorMessage::before {
    display: inline;
    content: "⚠ ";
}
.submitBtn {
    margin: 30px auto;
    padding: 17px 30px;
    background-color: var(--accent-text-color);
    color: #fff;
    border-radius: 4px;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    z-index: 1;
}
.submitBtn::before{
    background-color: var(--heading-text-color);
    border-radius: 4px;
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}
.submitBtn:hover::before{
    left: 0;
    width: 100%;
}

.alertShown {
    opacity:1;
    transition: width 0.5s,
    height 0.5s,
    opacity 0.5s 0.5s;
}


.alertHidden {
    opacity:0;
    transition: all 250ms linear 2s;
}

.popUpMessage {
    background-color: #b8e4d3;
    padding: 15px;
    border-radius: 8px;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: #1f1f20;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}

@media screen and (max-width: 575.98px) {
    .form {
        width: 80%;
    }

    .contactsContainer {
        justify-content: center;

    }
}