.project{
    box-shadow: 0 20px 55px #eeeeee;
    width: 30%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.imgContainer{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainer a{
    border-radius: 10px;
    font-size: 11px;
    font-weight: 500;
    padding: 5px 15px;
    color: #fff;
    background-color: #212529;
    align-self: center;
    transition-duration: 0.3s;
}
.imgContainer a:hover{
    background-color: #47bb8e;
}
.description{
    box-sizing: border-box;
    padding: 15px;
}
.description h5{
    font-size: 17px;
    font-weight: 600;
    line-height: 1.7;
    margin-top: 15px
}
.description p{
    color: #999999;
    font-size: 11px;
    font-weight: 500;
}

@media screen and (max-width: 1270px) {
    .project{
        width: 320px;
    }
}