* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
a:hover {
  color: #47bb8e;
  transition: width 0.3s ease-in-out;
}


/*https://preview.themeforest.net/item/david-personal-portfolio-template/full_screen_preview/35102502?_ga=2.15276400.731657742.1639845123-1401289632.1639845123*/
