.footerBlock{
    background-color: var(--heading-text-color);
    padding: 80px 0;
    position: relative;
    text-align: center;
    color: #fff;
}
.footerBlock::before{
    border-top: 50px solid #fff;
    border-right: 50vw solid transparent;
    border-bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}
.footerBlock::after{
    border-left: 50vw solid transparent;
    border-top: 50px solid #fff;
    border-bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
}
.footerContainer{
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}

.socialIcons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}
.socialIcons a{
    color: var(--main-text-color);
    display: inline-block;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out 0s;
}
.socialIcons a:hover{
    color: var(--accent-text-color);
}
.socialIcons a:not(:last-child) {
    margin-right: 30px;
}
.copyright{
    color: var(--secondary-text-color);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo{
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 1.5px;
}
.logo a{
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
}
.logo a:hover{
    color: #fff;
}
.logo span{
    color: var(--accent-text-color);
}