.projectsBlock{
    height: 100vh;
    background-color: lavenderblush;
}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.title {
    background-color: lightgray;
}
.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}