.projectsBlock{
    min-height: 100vh;
    background-color: lavenderblush;
    display: flex;
    align-items: center;
}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}