.projectsBlock{
    /*min-height: 100vh;*/
    background-color: #fff;
    display: flex;
    align-items: center;
}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.projects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
@media screen and (min-width: 1430px){
    .projects{
        justify-content: space-between;
    }
}

